/* Typography */
.intro {
    font-family: "Reem Kufi", sans-serif;
    font-size: 3.75em;
    font-weight: 600;
    -webkit-animation: intro 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
    animation: intro 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
}

@-webkit-keyframes intro {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes intro {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}
