.row {
    margin: 15px;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.row a {
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 15px;
    color: #fff;
    display: inline-block;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.05);
}

.title {
    font-weight: 500;
}

.data {
    font-weight: 100;
}

.icon {
    transition: 0.3s;
}

.icon:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.25) translateX(10%);
}

@media only screen and (min-width: 1200px) {
    .title {
        font-size: 22px;
        width: 180px;
    }
    .data {
        font-size: 22px;
        width: 500px;
    }
}

@media only screen and (min-width: 992px) {
    .title {
        font-size: 20px;
        width: 150px;
    }
    .data {
        font-size: 20px;
        width: 450px;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 18px;
        width: 130px;
    }
    .data {
        font-size: 18px;
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        margin-left: 0;
        margin-bottom: 15px;
        position: relative;
        font-family: "Roboto", sans-serif;
    }

    .row a {
        border-radius: 8px;
        margin-top: 10px;
        color: #fff;
        display: inline-block;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.05);
    }

    .title {
        width: 100%;
        font-size: 15px;
    }
    .data {
        width: 100%;
        font-size: 15px;
    }

    .icon {
        width: 100%;
        transition: 0.3s;
    }

    .icon:hover {
        background-color: rgba(255, 255, 255, 0.98);
        color: black;
        transform: scale(1.005);
    }

    .fa-clone {
        width: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: bottom;
    }
}
